# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
terraform.rc

# Ansible
**/vault_pass.txt
**/*.retry
**/*.vault

# Chaves SSH
*.pem
*.key
*.ppk

# Aplicação Node.js
app-nodejs/

# Diretórios de sistema
.DS_Store
Thumbs.db